#home{
    padding-top: 120px;

    
}




.home__left{
    h1{
        text-align: center;
        color: var(--, #333);
        font-family: Manrope;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px;
    }

    p{
        margin-top: 20px;
        text-align: center;
        color: var(--, #333);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    a{
        padding: 14px 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: $grey-color;
        border-radius: 20px;
        display: block;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
    }

    
}

.home__right{
    margin-top: 50px;
    img{
        width: 100%;
    }
}

.home-container{
    @media(min-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        home__left{
            width: 500px;
            
    
            a{
                display: inline-block;
            }
        }
    
        .home__right{
            width: 100%;
        }

        
    }

    
}

.home__bottom{
    margin-top: 150px;
    h2{
        color: #333;
        text-align: center;
        font-family: Manrope;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;  
    }

    &-statistics{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: start;
        font-family: Manrope;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        margin-top: 30px;

        .statistic{
            margin-top: 50px;

            h1{
                background:linear-gradient(115deg, #FFBC2A 16.38%, #FF4F39 95.45%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p{
                color: #333;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}

@media (min-width:800px){
    .home__bottom-statistics{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}