.price {
    padding-top: 150px;

    h1 {
        color: #22343D;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
    }

    p {
        margin-top: 8px;
        text-align: center;
        color: #22343D;
        font-size: 16px;
        font-weight: 500;
    }

    &__cards{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            max-width: 500px;
            width: 100%;
        }

        @media(min-width:900px){
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}